

body {
color: #000;
font-family: "sans-serif";
font-size: 18px;
font-weight: 400;
line-height: 1.6;
}
* {
box-sizing: border-box;
}

p {
line-height: 1.5;
}

main {
margin: 0 auto;
}


.grid-row {
display: flex;
flex-flow: row wrap;
justify-content: flex-start;
}

.grid-item {
width: fit-content;
flex-basis: 33.333%;
position: relative;
padding: 25px;
box-sizing: border-box;
text-align: center;
vertical-align: middle;
justify-content: center;
}
.grid-item-1 {
background-color: #6F98A8;
}
.grid-item-2 {
background-color: #2B8EAD;
}
.grid-item-3 {
background-color: #2F454E;
}

.grid-item-4 {
background-color: #72C3DC;
}

.grid-item-5 {
background-color: #2F454E;
}

.grid-item-6 {
background-color: #333;
}

.grid-item-7 {
background-color: #333;
}
.grid-item-8 {
background-color: #6F98A8;
}
.grid-item-9 {
background-color: #2F454E;
}

header p { text-align:center;font-size: 2rem;padding: 0;margin: 0;}  
.boxesStr {color: #fff; font-weight: bold;font-size: 5rem;}       

.grid-item-wrapper {
-webkit-box-sizing: initial;
-moz-box-sizing: initial;
box-sizing: initial;
margin: 0;
height: 100%;
width: 100%;
overflow: hidden;
position: relative;
}

.grid-item-container {
height: 100%;
width: 100%;
position: relative;
}
.grid-item-content {
padding: 0 20px 20px 20px;
}

.item-title {
font-size: 24px;
line-height: 26px;
font-weight: 700;
margin-bottom: 18px;
display: block;
}

.item-category {
text-transform: uppercase;
display: block;
margin-bottom: 20px;
font-size: 14px;
}

.item-excerpt {
margin-bottom: 20px;
display: block;
font-size: 14px;
}

@media(max-width: 1333px) {
.grid-item {
flex-basis: 33.33%;
}
}

@media(max-width: 1073px) {
.grid-item {
flex-basis: 33.33%;
}
}

@media(max-width: 815px) {
.grid-item {
flex-basis: 50%;
}
}

@media(max-width: 620px) {
.col {
clear: both;
float: none;
margin-left: auto;
margin-right: auto;
width: auto !important;
}
}

@media(max-width: 555px) {
.grid-item {
flex-basis: 100%;
}
}


/* Sections */

section {
display: flex;
justify-content: center;
flex-wrap: wrap;
background-color: #ccc;
border-top: 2px solid #2B8EAD;

}
#gridBox {float:left}
.buttonsection { margin-top: 25px;float:right;}
.btn-sh-sr {
padding: 8px 24px;
transition: 0.4s;
display: inline-block;
margin-bottom: 24px;
margin-left: 24px;
font-weight: bold;
cursor: pointer;
background:#2B8EAD;
width: 100%;
color:#fff;
border-radius: 5px;
}


/* Footer */

footer {

padding: 8px;
color: #333;
display: flex;
flex-direction: column;
text-align: center;

}
.page-heading{
font-size: inherit;
}


/* Media Queries */

@media (max-width: 900px) {

}

@media (max-width: 719px) {
}




@media (max-width: 600px) {
#gridBox {float:right;margin-top: 100px;}
section {position: relative;background: none;}
.buttonsection { float:left; width:100%; position: absolute; top:0;left:0}
.btn-sh-sr {width: 40%; }
.grid-item {margin-bottom: 2px;}
.grid-item-1 {
background-color: #bbb;
border-left: 4px solid #6F98A8;
}
.grid-item-2 {
background-color: #bbb;
border-left:5px solid #2B8EAD

}
.grid-item-3 {
background-color: #bbb;
border-left:5px solid #2F454E

}

.grid-item-4 {
background-color: #bbb;
border-left:5px solid #72C3DC


}

.grid-item-5 {
background-color: #bbb;
border-left:5px solid #2F454E

}

.grid-item-6 {
background-color: #bbb;
border-left:5px solid #333

}

.grid-item-7 {
background-color: #bbb;
border-left:5px solid #333

}
.grid-item-8 {
background-color: #bbb;
border-left:5px solid #6F98A8

}
.grid-item-9 {
background-color: #bbb;
border-left:5px solid #2F454E

}

header p { text-align:center;font-size: 3rem;color:#fff;padding: 0;margin: 0;background-color: #333;}  
.boxesStr {color: #fff; font-weight: bold;font-size: 2rem;}       

}

@media (min-width: 720px) {

}

@media (min-width: 1200px) {
main {
width: 85%;
}
}